#app {
    height: 100%;
    .card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        padding: 2rem 4.5rem;
        width: 57rem;
        background: #fff;
        box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px,
            rgb(0 0 0 / 5%) 0px 10px 15px -5px, rgb(0 0 0 / 4%) 0px 7px 7px -5px;
    }
    .ins_title {
        text-align: center;
        font-size: 3.2rem;
        color: var(--color-grey-dark-1);
        margin-bottom: 2rem;
    }
    .ins_text{
        text-decoration: none;
    }
}
