:root {
    --color-primary: #7c83fd;
    --color-primary-dark: #6e75fa;
    --color-secondary: #96baff;
    --color-secondary-dark: #538cf7;
    --color-tertiary: #7dedff;
    --color-tertiary-dark: #46dff7;
    --color-quaternary: #88fff7;
    --color-quaternary-dark: #45fdf1;

    --color-success: #9fe6a0;
    --color-danger: #f55c47;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: rgb(85, 84, 84);
    --color-grey-dark-3: rgb(119, 118, 118);
    --color-grey-dark-4: rgb(141, 140, 140);

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 1px
}

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
